@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@import 'tailwindcss';

@layer base {
  html {
    -webkit-font-smoothing: antialiased;
    scroll-behavior: smooth;
  }
}

@theme {
  --color-brand: #b9ff66;
  --color-dark: #191a23;
  --color-surface: #ffffff;

  --font-space: 'Space Grotesk', sans-serif;
}

@layer base {
  body {
    @apply bg-surface font-space text-dark antialiased;
  }

  h1,
  h2,
  h3 {
    @apply font-bold tracking-tight;
  }
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll 25s linear infinite;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.animate-fadeIn {
  animation: fadeIn 0.5s ease forwards;
}
